!!! 5
<<<<<<< HEAD
%html{lang: 'en'}
  %head
    %title #{data.page.title || "Anton"}
=======
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "The Middleman"}
>>>>>>> c02f226de4195301e063da607d44767a966d8d81
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

<<<<<<< HEAD

=======
>>>>>>> c02f226de4195301e063da607d44767a966d8d81
    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

<<<<<<< HEAD
    / $BOOTSTRAP  CSS CDN 
    %link(rel="stylesheet"  href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

    / Stylesheets
    = stylesheet_link_tag 'custom'
  %body{class: current_page.data.body_class || 'page'}
    = yield
    / JQUERY CDN
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
    / JQUERY Fallback
    :javascript
        window.jQuery || document.write('<script src="./fallback/jquery-2.1.1.min.js"><\/script>')

    / BOOTSTRAP JS CDN 
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    / BOOTSTRAP JS Fallback
    :javascript
        if(typeof($.fn.modal) === 'undefined') {document.write('<script src="./fallback/3.1.1/js/bootstrap.min.js"><\/script>')}

    / BOOTSTRAP CSS Fallback
    :javascript
        $(document).ready(function() {
        var bodyColor = $('body').css('color');
        if(bodyColor != 'rgb(51, 51, 51)') {
        $("head").prepend('<link rel="stylesheet" href="./fallback/3.1.1/css/bootstrap.min.css">');}});

    / FONTAWESOME CSS CDN 
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    / FONTAWESOME CSS Fallback
    :javascript
        $(document).ready(function() {
        var v = $('.fa').css('display');
        if(v != 'inline-block') {
        $("head").prepend('<link rel="stylesheet" href="./fallback/font-awesome-4.1.0/css/font-awesome.min.css">');}});


    / Javascripts
    = javascript_include_tag "ajCustom.js"
=======
    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Bootstrap CSS CDN 
    %link(rel="stylesheet"  href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

    -# Stylesheets
    = stylesheet_link_tag 'application'
  %body{class: current_page.data.body_class || 'page'}
    = yield
    -# Javascripts
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_include_tag 'application'

    -# jQuery CDN
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
    -# Bootstrap JS CDN -->
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"

    -# Font Awesome CSS CDN -->
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")


>>>>>>> c02f226de4195301e063da607d44767a966d8d81

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
<<<<<<< HEAD
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
=======
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
>>>>>>> c02f226de4195301e063da607d44767a966d8d81
